/* Parent container USS */
#RootElement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#DialogContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    width:60%;
    height: 200px;
    margin: auto;
}

#Dialog {
    flex-grow: 1;
    background-color: rgb(173, 173, 223);
    padding: 10px;
    max-height: 100px;
    background-image: url("TextBox.png");
}

#CharacterName {
    width: 30%;
    background-color: rgb(255, 192, 203);
    padding: 5px;
    background-image: url("NameBox.png");
}









#DialogContainerx {
    display: flex; 
    margin:20px;
    width: 100%;
    max-width: 80%;
    height: 200px;
}



#Dialogx {
    width: 100%;
    height: 100%;
    white-space: normal;
    background-color: #f0f;
    background-image: url("TextBox.png");
    background-size: contain;
    background-position: 0 0;
    background-size: contain;   /* Ensure the image covers the container */
    position: relative;
    padding: 25px 15px;
}

#CharacterNamex {
    position: absolute;
    background-image: url("NameBox.png");
    background-size: contain;
    background-position: 0 0;
    margin: 1px 0 0 17px;
    width: 40%;
    padding: 0 5px;
    height: 20px;
    background-color: #33f;
}